body{
	font:Helvetica, Arial, sans-serif;
	background-color: black;
	/*padding-left: 250px;
	padding-right: 250px;*/
}

#header{
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 70px;
	color:black;
}

.sup{
	padding-top: 10px;
	padding-bottom: 100px;
	background-color: green;
	text-align: center;
	margin:40px;
}

nav li{
	display: inline-block;
	font-weight: bold;
	padding: 10px;
	text-align:center;
	margin-left: 70px;
	margin-right: 70px;
	font-family: helvetica;
	font-size: 20px;
}

.Intro{
	text-align: center;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: purple;
	font-size: 20px;
	color:white;
	margin: 40px;
}

.Education{
	padding-top: 100px;
	padding-bottom: 50px;
	padding-left: 200px;
	padding-right: 200px;
	margin:40px;
	font-size: 20px;
	background-color:grey;
	color: white;	
}

.paragraph_span{
	text-align: center;
}

.p2_span{
	text-align: left;
	padding-left: 200px;
	font-weight: bold
}

#major{
	font-style:italic;
	font-weight: normal;
}

.design{
	text-align: center;
	padding-top: 50px;
	padding-bottom: 20px;
	outline-style: solid;
	outline-color: purple;
}