body{
	font:Helvetica, Arial, sans-serif;
	text-align: center;
	background-color: white;
	/*padding-left: 250px;
	padding-right: 250px;*/
}

.sup{
	padding-top: 50px;
	padding-bottom: 50px;
}

nav li{
	display: inline-block;
	font-weight: bold;
	padding: 10px;
	text-align:center;
	margin-left: 50px;
	margin-right: 50px;
	font-family: helvetica;
}

.Intro{
		text-align: center;
}

.Education{
		text-align: center;
		padding-top: 100px;
		padding-bottom: 100px;
		margin:40px;
		background-image: url(snake.jpg);
		font-size: 20px;

}
.bullet_points{
	background-image: url(snake.jpg);
	text-align: left;
	margin-left: 100px;
	font-weight: bold
}

#major{
	font-style:italic;
	font-weight: normal;
}