body{
	font:helvetica;
	background-color: black;
}

#Projects{
	padding-top: 10px;
	padding-bottom: 20px;
	font-size: 70px;
	color: black;
}

.Project_box{
	padding:10px;
	padding-bottom: 100px;
	text-align: center;
	margin:40px;
	background-color: green;
}

nav li{
	display: inline-block;
	font-weight: bold;
	font-family: helvetica;
	padding: 10px;
	text-align: center;
	margin-left: 70px;
	margin-right: 70px;
	font-size: 20px;
}

a:link {
    color: black;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}    

.Coin_apex{
	padding-right: 200px;
	padding-left: 50px;
	background-color: yellow;
	padding-top: 100px;
	margin:40px;
	text-align: left;
	padding-bottom: 200px;
	white-space: 20px;
	font-size: 20px;
}

.textwrap1{
	float:left;
	width: 25%;
	margin-left:0px;
	margin-top: 10px;
	margin-right: 20px;
}

.Coin_co{
	padding-right: 200px;
	padding-left: 50px;
	background-color: blue;
	padding-top: 100px;
	margin:40px;
	text-align: left;
	padding-bottom: 100px;
	white-space: 20px;
	font-size: 20px;
	color: white;
}

.Movable{
	padding-right: 200px;
	padding-left: 50px;
	background-color: #bb85e5;
	padding-top: 100px;
	margin:40px;
	text-align: left;
	padding-bottom: 100px;
	white-space: 20px;
	font-size: 20px;
	color: black;
}

.Snatch{
	padding-right: 200px;
	padding-left: 50px;
	background-color: #ba221d;
	padding-top: 60px;
	margin:40px;
	text-align: left;
	padding-bottom: 120px;
	white-space: 20px;
	font-size: 20px;
	color: white;
}
.textwrap2{
	float:left;
	float: top;
	width: 25%;
	margin-left:0px;
	margin-top: 0px;
	margin-right: 20px;

}
/*.item{
	border: 10px white;
}

.projects .row img{
	width:100px;
	text-align: center;
	margin-left:200px;
	margin-right:200px;
}

.random_paragraph{
	padding-top:30px;
}*/