body{
	text-align: center;
	background-color: black
	color: white;
	margin-right:200px;
	margin-left:200px;
}

nav li{
	display: inline-block;
	font-weight: bold;
	font-family: helvetica;
	padding: 10px;
	text-align: center;
	margin-left: 30px;
	margin-right: 30px;
}

.item{
	border: 1px white;
}

.projects .row img{
	width:100px;
	text-align: center;
	margin-left:0px;
	margin-right:0px;
}
